# Terraform

**/.terraform/*
**/*.tfstate
**/*.tfstate.*
**/crash.log

# Terraform CLI Configuration
.terraformrc
terraform.rc

# --------------------------------------------------
# Variable Files

# For terraform-labs:
# Keep dev.tfvars and prod.tfvars tracked because they do NOT contain secrets.

# Uncomment the following lines for production projects.

# *.tfvars
# *.tfvars.json

# --------------------------------------------------
# Override Files

**/override.tf
**/override.tf.json
**/*_override.tf
**/*_override.tf.json

# --------------------------------------------------
# Terraform Plan Files

*.tfplan
*.plan

# --------------------------------------------------
# Logs

*.log

# --------------------------------------------------
# IDE

.vscode/
.idea/

# --------------------------------------------------
# Operating System

.DS_Store
Thumbs.db
desktop.ini